.svg-slogan {
  width: 550px;
  /* height: 550px !important; */
}

@media (max-width: 768px) {
  .svg-slogan {
    animation: fill 0.5s ease forwards 2.2s;
    transition-delay: 2s;
    width: 400px;
    /* height:90px; */
  }
}
@media (max-width: 630px) {
  .svg-slogan {
    animation: fill 0.5s ease forwards 2.2s;
    transition-delay: 2s;
    width: 350px;
    /* height:90px; */
  }
}
@media (max-width: 450px) {
  .svg-slogan {
    animation: fill 0.5s ease forwards 2.2s;
    transition-delay: 2s;
    width: 300px;
    /* height:90px; */
  }
}
@media (max-width: 400px) {
  .svg-slogan {
    animation: fill 0.5s ease forwards 2.2s;
    transition-delay: 2s;
    width: 270px;
    /* height:90px; */
  }
}
